.footer {
  position: absolute;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: var(--footer-height);
  width: 100%;
  top: calc(100% - var(--footer-height));
  left: 0px;
  background-color: var(--surface-dark-blue);
  border-top: 1px solid var(--border-light);
  color: var(--text-biege);
}
