.dataTable__container {
  width: 100%;
  height: auto;
  position: relative;
  font-size: 17px;
  color: #c1b7cd;

  table {
    border: 1px solid var(--border-light);
    width: 100%;
    padding: 10px;
    border-collapse: collapse;
    border-collapse: collapse;
    border-radius: 8px;
    border-style: hidden; /* hide standard table (collapsed) border */
    box-shadow: 0 0 0 1px var(--border-light-green);

    th {
      border: 1px solid var(--border-light-green);
      background: var(--surface-light-maroon);
      padding: 14px 10px;
    }

    td {
      background: var(--surface-light-blue);
      border: 1px solid var(--border-light-green);
      padding: 8px 10px;
    }

    tfoot td {
      position: relative;
    }
  }
}
