.button__container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: fit-content;
  width: fit-content;
  border: 1px solid var(--border-super-light);
  border-radius: var(--button-radius);
  overflow: hidden;
}

.button__section {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: fit-content;
  cursor: pointer;
  color: var(--text-biege);
  font-size: 16px;
  font-weight: 500;
  border-right: 1px solid var(--border-super-light);

  &:last-child {
    border: none;
  }

  &.sizeSmall {
    min-width: 70px;
    height: 40px;
    padding: 0 20px;
  }

  &.sizeMedium {
    height: 42px;
    padding: 0 25px;
  }

  &.sizeLarge {
    height: 50px;
    padding: 0 30px;
  }
}

.decorated {
  text-decoration: underline;
  color: var(--text-blue-link);
}

.link {
  cursor: pointer;
}

.disabled {
  pointer-events: none;
  cursor: not-allowed;
  background: var(--disabled-button) !important;
  color: var(--disabled-text) !important;
}
