.header {
  position: fixed;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
  width: 100vw;
  padding: 0 35px;
  top: 0;
  border-bottom: 1px solid var(--border-light);
  left: 0;
  color: var(--text-biege);
  background: var(--surface-dark-blue);
}

.header__title {
  cursor: pointer;
}
