.home {
  position: relative;
  display: flex;
  width: 100%;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--row-gap);
  padding-bottom: 200px;
}

.gitConfig {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  height: auto;
  width: 1600px;
  max-width: calc(100vw - 40px);
  color: white;
}

.gitConfig__content {
  position: relative;
  background: var(--surface-light-blue);
  padding: var(--header-height);
  padding-top: calc(var(--header-height) / 3);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100%;
  display: flex;
  color: white;
  flex-direction: column;
  border: 1px solid var(--border-light);
}

.gitConfig__header {
  position: relative;
  display: flex;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: var(--surface-light-maroon);
  padding: 0 var(--header-height);
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 110px;
  border: 1px solid var(--border-light);
  border-bottom: none;
}

.gitConfig__title {
  color: var(--text-burnt-orange);
}

.section__description {
  .description__title {
    margin-top: 14px;
    color: #f5f5f5;
  }
  .description__description {
    margin-top: 10px;
    line-height: 1.3;
  }
}

.scrape__button {
  margin-top: 20px;
  width: auto;
  max-width: 300px;
}

.stats {
  position: relative;
  width: 1600px;
  max-width: calc(100vw - 40px);
  display: flex;
  color: white;
  flex-direction: column;
  row-gap: var(--row-gap);
}

.home__background {
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -10;
  background-image: url("~public/images/renato-ramos-landscape-rainbow.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.14;
}
